.clear
{
    background-image: url(weather/clear.jpg);
}

.clouds
{
    background-image: url(weather/clouds.jpg);
}

.rain
{
    background-image: url(weather/rain.jpg);
}

.snow
{
    background-image: url(weather/snow.jpg);
}

.drizzle
{
    background-image: url(weather/drizzle.jpg);
}

.mist
{
    background-image: url(weather/mist.jpg);
}

.thunderstorm
{
    background-image: url(weather/thunderstorm.jpg);
}

.haze
{
    background-image: url(weather/mist.jpg);
}

.fog
{
    background-image: url(weather/drizzle.jpg);
}

body
{
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 100vh;
    overflow: hidden;
    font-family: 'Trebuchet MS';
    background-position: center;
    background-size: cover;
}

.container
{
    margin-top: 20px;
}

h1
{
    margin-bottom: 20px;
}
/* Barre de Navigation */

#navbar
{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-top: 5px;
}

#navbar h2
{
    margin-left: 20px;
}

#navbar ul
{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

#navbar li
{
    list-style-type: none;
    margin-right: 20px;
}

a
{
    color: white;
}

a:hover
{
    color: white;
    text-decoration: none;
}

#warning_text
{
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.weather
{
    text-align: center;
    background: transparent;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    border: hidden;
}
